<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
<div layout:fragment="content" class="d-flex justify-content-center flex-column align-items-center" style="min-height: calc(calc(100vh) - calc(235px))">
	<small class="p-2 bd-highlight">
		Nguyễn Văn Toản - CodeGym - C0320H1
	</small>
	<div class="p-2 bd-highlight">
		<h2>
			Core Spring Boot Simple
		</h2>
	</div>
</div>
</body>
</html>
