<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html">
<head>
	<title>Register</title>
</head>
<body>
<div class="container" layout:fragment="content">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">Register</div>
				<div class="card-body">
					<form  th:object="${formRegister}" method="POST">
						<div class="form-group row">
							<label for="first_name" class="col-md-4 col-form-label text-md-right">First name</label>

							<div class="col-md-6">
								<input type="text" th:classappend="${#fields.hasErrors('first_name') ? 'is-invalid' : ''}" class="form-control" th:field="*{first_name}" required autofocus>

								<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('first_name')}">
									<strong th:errors="*{first_name}"></strong>
								</span>
							</div>
						</div>

						<div class="form-group row">
							<label for="last_name" class="col-md-4 col-form-label text-md-right">Last name</label>

							<div class="col-md-6">
								<input type="text" th:classappend="${#fields.hasErrors('last_name') ? 'is-invalid' : ''}" class="form-control" th:field="*{last_name}" required autocomplete="name" />

								<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('last_name')}">
									<strong th:errors="*{last_name}"></strong>
								</span>
							</div>
						</div>

						<div class="form-group row">
							<label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

							<div class="col-md-6">
								<input type="email" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" class="form-control" th:field="*{email}" required autocomplete="email">

								<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('email')}">
									<strong th:errors="*{email}"></strong>
								</span>
							</div>
						</div>

						<div class="form-group row">
							<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

							<div class="col-md-6">
								<input id="password" type="password" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" class="form-control" name="password" required autocomplete="new-password">

								<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('password')}">
									<strong th:errors="*{password}"></strong>
								</span>
							</div>
						</div>

						<div class="form-group row">
							<label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

							<div class="col-md-6">
								<input id="password-confirm" type="password" th:classappend="${#fields.hasErrors('password_confirm') ? 'is-invalid' : ''}" class="form-control" name="password_confirm" required autocomplete="new-password">

								<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('password_confirm')}">
									<strong th:errors="*{password_confirm}"></strong>
								</span>
							</div>
						</div>

						<div class="form-group row mb-0">
							<div class="col-md-6 offset-md-4">
								<button type="submit" class="btn btn-primary">
									Register
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
